{% load static %}


<!-- Footer -->
    <footer class="bg-light text-center text-lg-start footer">
        <!-- Grid container -->
        <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">VISION</h5>
                <p>
                    An Africa built with pride
                </p>
                <h5 class="text-uppercase">MISSION</h5>
                <p>
                    We deliver trusted building solutions that 
                    are made with Pride and care to provide superior customer value.
                </p>
            </div>
            
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">OUR VALUES</h5>
    
            <ul class="list-unstyled mb-0">
                <li>
                    Customer First
                </li>
                <li>
                    Excellence
                </li>
                <li>
                    Partnerships
                </li>
                <li>
                    Integrity
                </li>
                <li>
                    Care
                </li>
            </ul>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">FOLLOW US</h5>
    
            <ul class="list-unstyled">
                <li class="footer-top__social-item">
                    <a href="https://www.facebook.com/UgandaBaatiLtd/" 
                        class="footer-top__social-link">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                </li>
                <li class="footer-top__social-item">
                    <a href="https://twitter.com/UgandaBaati" 
                        class="footer-top__social-link">
                        <i class="fa fa-twitter"></i> 
                    </a>
                </li>
                <li class="footer-top__social-item">
                    <a href="https://www.instagram.com/ugandabaati_official/" 
                        class="footer-top__social-link">
                        <i class="fa fa-instagram"></i> 
                    </a>
                </li>
                <li class="footer-top__social-item">
                    <a href="https://www.linkedin.com/company/uganda-baati-ltd-/" 
                        class="footer-top__social-link">
                        <i class="fa fa-linkedin"></i> 
                    </a>
                </li>
                <li class="footer-top__social-item">
                    <a href="https://www.youtube.com/channel/UCdDt3BabO9uZuvAbMZ4yJxQ" 
                        class="footer-top__social-link">
                        <i class="fa fa-youtube-play"></i> 
                    </a>
                </li>
            </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
        </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
<!-- Footer -->