{% extends 'base.html' %}
{% load static %}


{% block css_static %}   
{% endblock  %}
    

{% block title %}Supply chain Dashboard{% endblock  %}


{% block content %}

    <div class="wrapper ">
        
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" 
                aria-label="Close"></button>
          </div>
        {% endfor %}
            

        <div id="tableView" class="main-table  py-4">
            <div class="row py-3">
                <a href="{% url 'supply_chain:dashboard' %}">
                    <button type="button" class="btn btn-primary 
                        addCoil col-md-2" data-bs-toggle="modal" 
                        data-bs-target="#createCoilForm">Transfer coil
                    </button>
                </a>
            </div>
            <table class="table mobile-optimised shadow p-3 mb-5 bg-white rounded 
                material-table">
                <thead>
                <tr >
                    <!-- <th scope="col" class="major">Details</th> -->
                    <th scope="col" class="minor">Details</th>
                    <th scope="col" class="minor">Bond</th>
                    <th scope="col" class="minor">Transferred today</th>
                    <th scope="col" class="minor">Production</th>
                    <th scope="col" class="minor">Total</th>
                    <th scope="col" class="minor">Options</th>
                </tr>
                </thead>
                <tbody>
                    {% for material in inventory_report %}
                        <tr id="{{material.id}}" class="main-table-row complete row-body">
        
                            <td class="major" data-th="Details:">
                                G<span class='coilGauge'>{{material.coil_gauge}}</span> 
                                <span class='coilColour'>{{material.coil_colour}}</span> 
                                <span class='coilFinish'>{{material.coil_finish}}</span> 
                                <span class='coilWidth'>{{material.coil_width}}</span>
                            </td>

                            <td class="minor" data-th="Bond:">
                                {{material.bond}}
                            </td>

                            <td class="minor" data-th="Transferred:">
                                {{material.transferred}}
                            </td>

                            <td class="minor" data-th="Production:">
                                {{material.production}}
                            </td>
                            <td class="minor" data-th="Total:">
                                {{material.total}}
                            </td>


                            <td class="minor row" data-th="Options:">
                                <div class="row option-buttons">
                                    <div class="DSAFD">
                                        <button type="button" class="btn btn-primary 
                                            tranferMaterial" data-bs-toggle="modal" 
                                            data-bs-target="#transferCoilForm">Details
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>                      
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>

{% endblock  %}
    


{% block javascript_block %}
{% endblock  %}
    
