:root {
    --ubl-blue: rgba(15,50,84,1);
    --ubl-orange: rgba(255, 20, 0, 0.8);
    --ubl-white: rgba(255, 255, 255, 1);

    --ubl-excellent: rgba(37, 184, 17, 0.986);
    --ubl-fair: rgba(255,163,0,0.8);
    --ubl-poor: rgb(221, 17, 17);

    --ubl-black: rgb(0, 0, 0, 1);

}

.back-button button, .submit-button button, thead tr, .updatePieces{
    background-color: rgba(15,50,84,1) !important;
    color: rgba(255, 255, 255, 1);

}

.back-button button:hover, .submit-button button:hover, .updatePieces:hover{
    background-color: var(--ubl-orange) !important;
    color: var(--ubl-white);

}

.edit:hover {
    background-color: rgba(255,20,0,0.8) !important;

}

.order-form{
    border: solid 2px rgba(15,50,84,1);
}

.modal-content{
    border: solid 5px rgba(15,50,84,1);
    border-radius: 0.6em;
}

.modal-header {
    /* background-color: rgba(255,20,0,0.8); */
    background-color: rgba(15,50,84,1);
    color: rgba(255, 255, 255, 1);    

}


.machine-title{
    text-align: left;
    background-color: rgba(255,20,0,0.8) !important;
    color: rgba(255, 255, 255, 1);
}

.main-table tbody {
    font-size: 0.9em;
}

#deletePieceForm .modal-header {
    background-color: rgba(255,20,0,1);
    /* background-color: rgba(15,50,84,1); */
    color: rgba(255, 255, 255, 1);    

}

#deletePieceForm .modal-content{
    border: solid 5px rgba(255,20,0, 1) !important;
    font-weight: bold;
    border-radius: 0.6em;
}